In [1]:
import numpy as np

In [2]:
import pandas as pd

In [ ]:
# help(pd.Series)

In [4]:
myindex = ["USA", "Canada", "Mexico"]

In [5]:
mydata = [1776, 1867, 1821]

In [9]:
myser = pd.Series(data=mydata, index=myindex)

In [10]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [11]:
type(myser)

pandas.core.series.Series

In [15]:
myser["USA"]

1776

In [20]:
ages = { "Sam": 5, "Frank": 10, "Spike": 7 }

In [21]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64