In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Resources/tips.csv")

In [3]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [18]:
def last_numbers(num, count):
    return str(num)[-count:]
def last_four(num):
    return str(num)[-4:]

In [10]:
last_numbers(121244, 4)

'1244'

In [26]:
df["CC Number"].apply(last_four)

0      3410
1      9230
2      1322
3      5994
4      7221
       ...
239    2842
240    5404
241    7196
242    0950
243    8139
Name: CC Number, Length: 244, dtype: object

In [29]:
df["total_bill"].mean()

19.78594262295082

In [31]:
def yelp(price):
    if price < 10:
        return "$"
    elif price >= 10 and price < 30:
        return "$$"
    else:
        return "$$$"

In [32]:
df["yelp"] = df["total_bill"].apply(yelp)

In [33]:
df["yelp"]

0      $$
1      $$
2      $$
3      $$
4      $$
       ..
239    $$
240    $$
241    $$
242    $$
243    $$
Name: yelp, Length: 244, dtype: object

In [34]:
def one_prsn(total, size):
    return total/size

In [36]:
df.apply()

TypeError: one_prsn() missing 1 required positional argument: 'size'